<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrencyKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Exchange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F190D301E670F1C0056E058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FCBCFE91E5C9AA50086ED80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FCBD0021E5C9AA50086ED80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FCBD00D1E5C9AA50086ED80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
